<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size:50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<%= micropost.content %>
		<% if micropost.image.attached? %>
			<%= image_tag micropost.image.variant(:disp)%>
		<% end %>
	</span>
	<span class="timestamp">
		投稿日時 <%= time_ago_in_words(micropost.created_at) %> 前に投稿
		<% if current_user?(micropost.user) %>
			<%= link_to "削除", micropost, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
		<% end %>
	</span>
</li>